{
  "extends": "airbnb",
  "rules": {
    "brace-style": [1, "stroustrup", { "allowSingleLine": true }],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
    }],
    "func-names": 0,
    "max-len": 0,
    "newline-per-chained-call": 0,
    "no-console": 0,
    "no-else-return": 0,
    "no-lonely-if": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "object-shorthand": 0,
    "padded-blocks": 0,
    "quote-props": 0,
    "strict": 0,
    "vars-on-top": 0
  }
}
